<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>Laser Name Card Generator</title>
    <style>
        .form-label {
            margin-bottom: 0;
        }
    </style>
</head>
<body onload="preview()">
<script>
    function preview() {
      fetch('cards', {
        method: 'POST',
        body: new FormData(document.getElementById('form'))
      })
        .then(response => response.text())
        .then(text => document.getElementById('svg-container').innerHTML = text)
    }
</script>
<div class="container">
    <h1>Laser Name Card Generator</h1>
    <p style="font-size: 70%">By
        <a href="https://davebsoft.com">Dave Briccetti</a> and
        <a href="https://github.com/dcbriccetti/laser-name-cards/graphs/contributors">others</a>
        <a style="margin-left: 1em" href="https://github.com/dcbriccetti/laser-name-cards">Source code</a>
    </p>
    <p></p>

    <div class="row">
        <div class="col col-sm-3">
            <form id='form' method="POST" action="/cards">
                <div class="mb-2">
                    <label for="names" class="form-label">Names</label>
                    <textarea id="names" name="names" class="form-control" rows="5" onchange="preview()">
Donald Duck
Road Runner
Wile E. Coyote
Mary Poppins
Heisenberg
Batman
Worf
Sheldon Cooper
Kid Dynomite
The Fonz
Grogu
Lando</textarea>
                </div>
                <div class="mb-2">
                    <label for="font_family" class="form-label">Font family</label>
                    <select class="form-select" id="font_family" name="font_family" onchange="preview()">
                        <option value="Arial">Arial</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Verdana">Verdana</option>
                        <option value="Comic Sans MS">Comic Sans MS</option>
                        <!-- TODO: Add more fonts here -->
                    </select>
                </div>
                <div class="mb-2">
                    <label for="font_size" class="form-label">Font size (points)</label>
                    <input type="number" id="font_size" name="font_size" class="form-control" value=50 onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="num_cards_per_line" class="form-label">Cards per row</label>
                    <input type="number" id="num_cards_per_line" name="num_cards_per_line" min="1" max="50" class="form-control" value="4" onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="card_height" class="form-label">Card height (mm)</label>
                    <input type="number" id="card_height" name="card_height" min=5 class="form-control" value=40 onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="corner_radius" class="form-label">Corner radius</label>
                    <input type="number" id="corner_radius" name="corner_radius" class="form-control" value="40" min="0" max="100" onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="cut_stroke_width" class="form-label">Cut stroke width</label>
                    <input type="text" id="cut_stroke_width" name="cut_stroke_width" class="form-control" value="0.025mm" onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="cut_stroke_color" class="form-label">Cut stroke color</label>
                    <input type="text" id="cut_stroke_color" name="cut_stroke_color" class="form-control" value="black" onchange="preview()">
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="bigger_preview_stroke" name="bigger_preview_stroke" onchange="preview()" checked>
                  <label class="form-check-label" for="bigger_preview_stroke"
                         title="A thin cut stroke may be hard to see. When checked, makes it more visible in the preview.">
                    Bigger stroke in preview
                  </label>
                </div>
                <div class="mb-2">
                    <label for="piece_width" class="form-label">Piece width (mm)</label>
                    <input type="number" id="piece_width" name="piece_width" class="form-control" value=609.6 onchange="preview()">
                </div>
                <div class="mb-2">
                    <label for="piece_height" class="form-label">Piece height (mm)</label>
                    <input type="number" id="piece_height" name="piece_height" class="form-control" value=304.8 onchange="preview()">
                </div>
                <input class="btn btn-primary" type="submit" value="Generate">
            </form>
        </div>
        <div id='svg-container' class="col col-sm-8" style="transform: scale(0.3); transform-origin: top left">
        </div>
    </div>
</div>

</body>
</html>
