{#todo Make the page look nice, be responsive, etc.#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laser Name Card Generator</title>
</head>
<body>

<h1>Laser Name Card Generator</h1>

<form method="POST" action="/cards">
    <label for="names">Names:</label><br/>
    <textarea id="names" name="names" cols="30" rows="15"></textarea>
    <br/>
    <label for="font">Choose a font:</label>
    <select id="font" name="font">
        <option value="Arial">Arial</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Verdana">Verdana</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
        <!-- TODO: Add more fonts here -->
    </select>
    <br/>
    <input type="submit" value="Generate">
</form>
</body>
</html>
